@page
@{
}

@model IQueryable<Tour>

<!DOCTYPE HTML>

<html>
    <head>
        <title>Database Testing</title>
    </head>

    <body>
        <header>This is a test of the database</header>

        @foreach (var x in Model)
        {
            <div>
                <h3>@x.TourType</h3>
            </div>
        }
    </body>
</html>
