@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="width: 40%;float:left;">
    <div>
        <h2 class="display-4">Layton Utah Temple</h2>
        <img src="~/img/layton-temple.jpg" width="450" height="600" />
    </div>
</div>
<div class="text-right" style="width:50%;float:right; text-align:left; position:absolute; top:25%; right:50px;"><i>***PLEASE SIGN-UP FOR SUNDAY TOURS ONLY.  WE WILL SOON HAVE A NEW SCHEDULE SINCE WE HAVE BEEN ASKED TO STOP ALL OUTSIDE TOURS. Please review the available slots ON SUNDAY ONLY and click on the button to sign up. Use the "quantity" field to let us know how many people will be in your group. Thank you!</i>
    <br /><br />
          <div style="text-align:left;"><b>Please call 801-628-4488 or email LaytonTempleTours@gmail.com with questions or special requests.</b></div>
    <br />
    <br />
    <div style="text-align:center">
    <a class="btn-lg btn-info" style="padding: 30px 45px;" asp-controller="Home" asp-action="SignUp">Sign Up For a Tour</a>
        </div>
    
    </div>