@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="width: 40%;float:left;">
    <div class="col-lg-4">
        <h2 class="display-4">Layton Utah Temple</h2>
        <img src="~/img/layton-temple.jpg" width="400" height="400" />
    </div>
</div>
<div class="text-right" style="width:50%;float:right; text-align:left; position:absolute; top:35%; right:50px;"><i>***PLEASE SIGN-UP FOR SUNDAY TOURS ONLY.  WE WILL SOON HAVE A NEW SCHEDULE SINCE WE HAVE BEEN ASKED TO STOP ALL OUTSIDE TOURS. Please review the available slots ON SUNDAY ONLY and click on the button to sign up. Use the "quantity" field to let us know how many people will be in your group. Thank you!</i>
    <br /><br />
          <div style="text-align:left;"><b>General Tour Instructions:</b></div>
    <ul><li style="text-align:left;">Masks are required.</li><li style="text-align:left;">Park on Rosewood.</li><li style="text-align:left;">Dress casual, except Sunday.</li></ul>
    <br />
          <div style="text-align:left;"><b>Please call 801-628-4488 or email LaytonTempleTours@gmail.com with questions or special requests.</b></div>
    <br />
    <br />
    <a class="btn btn-info" asp-controller="Home" asp-action="SignUp">Sign Up</a>
    
    </div>

